@using static TaskApiCallerWeb.Models.Enum;
@model List<TaskModel>
@{
    ViewData["Title"] = "Tasks";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <h2>Tasks</h2>
        </div>
        <button id="btnCreateTask" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#mdlCreateTask">Create Task</button>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created Date</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count > 0)
                {
                    for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <th scope="row">@(i + 1)</th>
                            <td>@Model[i].Name</td>
                            <td>@Model[i].Description</td>
                            <td>@Model[i].Status</td>
                            <td>@Model[i].Created</td>
                        </tr>
                    }
                
                }
            </tbody>
        </table>
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>

<div id="mdlCreateTask" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createTaskForm">
                    <div class="form-group">
                        <label for="Name">Task Name</label>
                        <input id="txtName" name="Name" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Description">Description</label>
                        <input id="txtDescription" name="Description" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Status">Status</label>
                        <select name="Status" class="form-control">
                            @foreach (var status in Enum.GetValues(typeof(StatusEnum)))
                            {
                                <option value="@status">@status</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Created">Created Date</label>
                        <input id="txtCreated" name="Created" type="date" class="form-control" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="btnSaveTask" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/js/task.js"></script>
}